/*********************** SCROLLERS ***********************/
.root 		{
		position:relative;
		width: 450px;
		height: 280px;		
		/*margin: 0px 0px 0px 0px;*/
		}
.root p 	{
		margin:	0px 0px px 0px;
		}
.thumb 		{
		position: absolute;
		height: 9px;
		width: 15px;
		left: 0px;
		}
.up, .dn 	{
		position: absolute;
		left: 0px;
		}
.up a, .up a img, .dn a, .dn a img, .thumb a , .thumb a img{
		border: 0;
		}
.scrollContainer {
	position: absolute;
	left: -62px;
	top: -368px;
	width: 450px;
	height: 280px;
	clip: rect(0,450,280,0);
	overflow: auto;
	/*border-top: 0px solid #000000;
	border-left: 0px solid #000000;
	border-right: 0px solid #686262;
	border-bottom: 0px solid #686262;
		background:		#D9D9B0;*/
		}
.scrollContent { 
		position: absolute; 
		left: 0px; 
		top: 0px; 
		width: 280px; 
		}
